body {
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    background-image: url('background_paper.jpeg');
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    font-weight: bold;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p.caption_main {
    color: azure;
    background-color: gray;
}


img {
    opacity: 0.7;
    border-radius: 15%;
}